<!doctype html>
<html xmlns:th="http://www.thymeleaf.opg"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">


<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" th:href="@{/css/defaultLayout.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/upload.css}">
    <link rel="stylesheet" th:href="@{/css/view.css}">

    <!-- icon -->
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <script src="js/vendor/modernizr-3.8.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script>window.jQuery || document.write('<script src="@{/js/vendor/jquery-3.4.1.min.js}"><\/script>')</script>
    <script src="@{js/plugins.js}"></script>
    <script src="@{js/main.js}"></script>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap-theme.min.css">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <meta name="theme-color" content="#fafafa">
</head>

<body>
<div layout:fragment="header" id="header">
    <h4 id="h4"><a id="homeLink" th:href="@{/boards/home}">Board</a></h4>
    <a sec:authorize="isAnonymous()" th:href="@{/login}" id="loginLink">Login</a>
    <a sec:authorize="isAuthenticated()" th:href="@{/logout}" id="logoutLink">Logout</a>
    <a th:href="@{/members/join}" id="joinLink">Join</a>
    <ul id="boardMenu">
        <li>게시판
            <ul id="boardSubMenu">
                <li>
                    <a th:href="@{home}">게시판</a>
                </li>
                <li>
                    <a th:href="@{best_home}">인기게시판</a>
                </li>
            </ul>
        </li>
    </ul>

</div>


<div layout:fragment="content"></div>


<!--<div layout:fragment="footer">
    <h4 style="color: gray; opacity: 0.8">Kim si-hwan</h4>
</div>!-->


<th:block layout:fragment="script"></th:block>

<script th:inline=javascript>
</script>
</body>






</html>