<html xmlns xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.ney.nz/thymeleaf/layout"
      layout:decorate="~{/layout/defaultLayout}">
<head>
    <meta charset="UTF-8">
    <title>수정하기</title>
</head>
<body>

<div layout:fragment="content">
    <div class="panel-body">

        <form id="form" th:action="@{update}" method="post">

            <label th:for="userName">작성자</label>
            <input type="text" class="form-control" th:value="${#authentication.name}" readonly = readonly name="userName" id="userName">

            <label th:for="title">제목</label>
            <input type="text" class="form-control" placeholder="제목을 입력해주세요." th:value="${view.title}" name="title" id="title">

            <label th:for="content">내용</label>
            <textarea class="form-control"  rows="43" placeholder="내용을 입력해주세요"  name="content" id="content">[[${view.content}]]</textarea>

            <input type="hidden" name="boardId" th:value="${view.id}">
            <input type="hidden" name="_method" value="put">

            <button id="submitBtn" type="submit" class="btn btn-outline-primary">수정하기</button>

        </form>
    </div>
</div>

<th:block layout:fragment="script">
    <script th:inline=javascript>
        $(document).on("ready", function (e) {
            $(document).on("click", "#submitBtn", function (e) {
                if($('#title').val().length === 0){
                    alert("제목을 입력하세요.");
                    $('#title').focus();
                    return false;
                }
                if($('#content').val().length <=1){
                    alert("본문을 2자 이상 작성하세요.");
                    $('#content').focus();
                    return false;
                }

            });


        });

    </script>
</th:block>


</body>
</html>

