<html xmlns xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.ney.nz/thymeleaf/layout"
      layout:decorate="~{/layout/defaultLayout}">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>

<div layout:fragment="content">
    <div class="panel-body">
        <button class="btn btn-outline-danger">asd</button>

        <form id="form" th:action="@{/boards/new}" method="post" th:object="${uploadForm}">

            <input type="text" class="form-control" th:value="${#authentication.name}" readonly=readonly
                   name="userName">

            <input type="text" class="form-control" placeholder="제목을 입력해주세요." th:field="*{title}">
            <textarea class="form-control" th:field="*{content}" rows="43" placeholder="내용을 입력해주세요"></textarea>
            <button id="submitBtn" type="submit" class="btn btn-outline-primary float-right">작성하기</button>

        </form>
    </div>
</div>

<th:block layout:fragment="script">
    <script th:inline=javascript>
        $(document).on("ready", function (e) {
            $(document).on("click", "#submitBtn", function (e) {
                if ($('#title').val().length === 0) {
                    alert("제목을 입력하세요.");
                    $('#title').focus();
                    return false;
                }
                if ($('#content').val().length <= 1) {
                    alert("본문을 2자 이상 작성하세요.");
                    $('#content').focus();
                    return false;
                }

            });


        });

    </script>
</th:block>


</body>
</html>

