<html xmlns xmlns:th="http://www.w3.org/1999/xhtml" : th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.ney.nz/thymeleaf/layout"
      layout:decorate="~{/layout/defaultLayout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">
    <div class="panel-body">
        <div id="mainDiv">
            <div id="boardHeadDiv">
                <b style="color: white; margin-left: 8px">[[${view.title}]]
                    ([[${view.replyCount}]])</b>
                [[${view.boardLikeCount}]]
            </div>
            <div id="boardInfoDiv">
                <p><span class='badge badge-pill badge-info'>[[${view.userName}]]</span></p>
                <p><span class='badge badge-pill badge-info float-right'>read : [[${view.read}]]</span></p>
                <p><span class='badge badge-pill badge-info float-right'>date : [[${#temporals.format(view.createDate,('yyyy-MM-dd HH:mm'))}]]</span>
                </p>
            </div>
            <div class="form-group">
                <textarea class="form-control" id="content" name="content" rows="43" th:text="${view.content}"
                          readonly="readonly"></textarea>
            </div>

            <div id="buttons" sec:authorize="isAuthenticated()"
                 th:if="${#authentication.name==view.userName || #authentication.authorities[0].authority=='ROLE_ADMIN' }">
                <button class="btn btn-outline-danger float-right" id="deleteBtn">삭제</button>
                <button class="btn btn-outline-info float-right" id="updateBtn">수정</button>
            </div>

            <form id="form" th:action="@{/}" method="post">
            </form>

            <div id="thumbs">
                <div id="thumbs-up">
                    <i id="thumbs-up-icon" class='far fa-thumbs-up'></i><small><p>
                    추천<small>[[${view.boardLikeCount}]]</small></p></small>
                </div>
            </div>
            <a id="goTopLink" class="btn btn-outline-warning btn-sm" role="button" href="#"><i
                    class="fa fa-angle-double-up"></i></a>
            <a id="goReply" class="btn btn-outline-warning btn-sm" role="button" href="#commentsIcon"><i
                    class="far fa-comments"></i></a>

            <i id="commentsIcon" class='far fa-comments'></i><small>[[${view.replyCount}]]개의 댓글이 달렸습니다.</small>
            <div id="replyDiv">

            </div>

            <div sec:authorize="isAuthenticated()">
                <p>댓글 작성</p>
                <div>
                    <textarea rows="3" cols="30" class="form-control" id="inputReply"></textarea>
                    <button class="btn btn-primary btn-sm float-right btn-sm" id="addReply">작성
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


</body>


<th:block layout:fragment="script">
    <script th:inline="javascript" th:src="@{'/js/reply.js'}"></script>
    <script th:inline="javascript" th:src="@{'/js/like.js'}"></script>
    <script th:inline=javascript>
        $(document).on("ready", function (e) {

            var obj;
            var userName = [[${#authentication.name}]];
            var authority = [[${#authentication.authorities[0].authority}]];
            var boardId = [[${view.id}]];
            var form = $('#form');
            replyManager.getAll([[${view.id}]], printList);

            function printList(data) {
                var str = "";
                for (var i = 0; i < data.data.length; i++) {
                    var replyList = data.data[i];
                    var checkAuthentication = userName === replyList.userName ? true : false;
                    var checkAdmin = authority.toString() === 'ROLE_ADMIN' ? true : false;
                    str +=
                        "<div id='replierDiv'><p style='display: inline-block'><b><span class='badge badge-primary'>" + replyList.userName + "</span></b></p>" +
                        "<span class='badge badge-primary float-right'>" + replyList.createDate + "</span>" +
                        "<i class='far fa-thumbs-up' id='replyUp' href='" + replyList.id + "' >" + replyList.replyLikeCount + "</i>";
                    if (checkAuthentication === true || checkAdmin == true) {
                        str += "<a id='replyDeleteLink' href='" + replyList.id + "'><small>삭제</small></a>";
                    }
                    str += "</div>" +
                        "<div id='replyContentDiv'><textarea id='replyContent' rows='2' class='form-control' readonly = readonly>" + replyList.content + "</textarea></div><br>";
                }
                $("#replyDiv").html(str);
            }

            $(document).on("click", "#addReply", function (e) {
                var content = $("#inputReply").val();
                obj = {boardId: boardId, content: content, userName: userName};
                replyManager.add(obj, printList);
                $("#inputReply").val("");
            });

            $(document).on('click', '#replyDeleteLink', function (e) {
                e.preventDefault();
                var replyId = $(this).attr('href');
                obj = {boardId: boardId, replyId: replyId};
                replyManager.remove(obj, printList);
            });

            $(document).on('click', '#thumbs-up-icon', function (e) {
                if (userName === 'anonymousUser') {
                    alert("로그인이 필요한 서비스입니다.");
                    return false;
                }
                obj = {userName: userName, id: boardId, type: "board"};
                likeManager.add(obj);
            });

            $(document).on('click', '#replyUp', function (e) {
                if (userName === 'anonymousUser') {
                    alert("로그인이 필요한 서비스입니다.");
                    return false;
                }
                var replyId = $(this).attr('href');
                obj = {userName: userName, id: replyId, type: "reply"};
                likeManager.add(obj);
            });


            $(document).on('click', '#updateBtn', function (e) {
                var msg = confirm('수정하시겠습니까?');
                if (msg) {
                    $('#form').attr('action', 'update');
                    $('#form').attr('method', 'get')
                    form.append("<input type='hidden' name='boardId' value='" + boardId + "'>");
                    form.submit();
                }
            });

            $(document).on('click', '#deleteBtn', function (e) {
                var msg = confirm('삭제하시겠습니까?');
                if (msg) {
                    $('#form').attr('action', 'remove');
                    form.append("<input type='hidden' name='boardId' value='" + boardId + "'>");
                    form.append("<input type='hidden' name='_method' value='delete'>");
                    form.submit();
                }
            });

        })


    </script>
</th:block>
</html>