<html xmlns xmlns:th="http://www.w3.org/1999/xhtml" : th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.ney.nz/thymeleaf/layout"
      layout:decorate="~{/layout/defaultLayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">
    <div class="panel-body">
        <div style=" width:1300px;margin: 0 auto">
            <div style="background-color: red">
               <b style="color: white; margin-left: 8px">[[${view.title}]]
                   ([[${#lists.size(view.replies)}]])</b>
            </div>
            <div>
                <p style="display: inline"><span class='badge badge-pill badge-info'>[[${view.member.userName}]]</span></p>
                <p style="display: inline"><span class='badge badge-pill badge-info float-right'>read : [[${view.read}]]</span></p>
                <p style="display: inline"><span class='badge badge-pill badge-info float-right'>date : [[${view.createDate}]]</span></p>

            </div>
                <div class="form-group">
            <textarea class="form-control" name="content" rows="43" th:text="${view.content}" readonly="readonly"
                      style="background-color: white"></textarea>
            </div>
        </div>

        <div style="background-color: white">
        댓글존
        </div>


    </div>
</div>
</div>


</body>
</html>