<html xmlns xmlns:th="http://www.w3.org/1999/xhtml" : th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.ney.nz/thymeleaf/layout"
      layout:decorate="~{/layout/defaultLayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">
    <div class="panel-body">
        <div id="mainDiv">
            <div id="boardHeadDiv">
                <b style="color: white; margin-left: 8px">[[${view.title}]]
                    ([[${view.replyCount}]])</b>
            </div>
            <div id="boardInfoDiv">
                <p><span class='badge badge-pill badge-info'>[[${view.userName}]]</span></p>
                <p><span class='badge badge-pill badge-info float-right'>read : [[${view.read}]]</span></p>
                <p><span class='badge badge-pill badge-info float-right'>date : [[${#temporals.format(view.createDate,('yyyy-MM-dd HH:mm'))}]]</span></p>
            </div>
            <div class="form-group">
            <textarea class="form-control" id="content" name="content" rows="43" th:text="${view.content}" readonly="readonly"></textarea>
            </div>
            <div id="thumbs">
                <div id="thumbs-up">
                    <i class='far fa-thumbs-up'></i><small><p>추천</p></small>
                </div>
                <div id="thumbs-down">
                    <i class='far fa-thumbs-down'></i><small><p>비추천</p></small>
                </div>
            </div>

            <div id="replyDiv">

            </div>

            <p>댓글 작성</p>
            <select name="memberId" id="member" class="form-control">
                <option value="">회원선택</option>
                <option th:each="member : ${memberList}" th:value="${member.id}" th:text="${member.userName}"/>
            </select>
            <div>
                <textarea rows="3" cols="30" class="form-control" id="inputReply"
                          style="width: 95%;display: inline"></textarea>
                <button class="btn btn-primary btn-sm float-right btn-sm" id="addReply"
                        style="display: inline; width: 71px;height: 85px; ">작성
                </button>
            </div>

        </div>
    </div>
</div>
</div>


</body>


<th:block layout:fragment="script">
    <script th:inline="javascript" th:src="@{'/js/reply.js'}"></script>
    <script th:inline=javascript>
        $(document).on("ready", function (e) {

            replyManager.getAll([[${view.id}]], printList);

            function printList(data) {
                var str = "";
                for (var i = 0; i < data.length; i++) {

                    var replyList = data[i];
                    str +=
                        "<div id='replierDiv'><p style='display: inline-block'><b><span class='badge badge-primary'>"+replyList.userName+"</span></b></p>" +
                        "<span class='badge badge-primary float-right'>"+replyList.createDate+"</span>" +
                        "<i class='far fa-thumbs-up' id='replyUp'>0</i>" +
                        "<i class='far fa-thumbs-down' id='replyDown'></i>" +
                        "</div>"+
                        "<div id='replyContentDiv'><textarea id='replyContent' rows='2' class='form-control' readonly = readonly>"+replyList.content+"</textarea></div><br>";
                }
                $("#replyDiv").html(str);
            }

            var obj;
            $(document).on("click", "#addReply", function (e) {
                var content = $("#inputReply").val();
                var memberId = $("#member").val();
                var boardId = [[${view.id}]];
                obj = {boardId: boardId, content: content, memberId: memberId};
                replyManager.add(obj, printList);
                $("#inputReply").val("");

            });
        })


    </script>
</th:block>
</html>