#mainDiv {
    width: 1300px;
    margin: 0 auto;
}

#boardHeadDiv {
    background-color: darkseagreen;
}

#boardInfoDiv > p {
    display: inline;
}

#content {
    background-color: white;
}

#thumbs {
    margin-left: 450px;
}


#thumbs-up {
    display: inline-block;
    cursor: pointer;
}

#thumbs-up > i, #commentsIcon {
    font-size: 36px;
}

#inputReply {
    width: 95%;
    display: inline;
}

#addReply {
    display: inline;
    width: 71px;
    height: 85px;
}

#replierDiv {
}

#replierDiv > p {
    margin-left: 15px;
}

#replyContentDiv {
    margin-top: -17px;
}

#replyUp {
    position: absolute;
    margin-left: 960px;
    margin-top: 3px;
    cursor: pointer;
}

#replyDeleteLink{
    position: absolute;
    margin-left: 1020px;
    margin-top: -3px;
    text-decoration: none;
    color: indianred;

}





